<div class="container">
    <!-- Header Section -->
    <div class="header">
        <h1>Keep Us in the Loop</h1>
        <br>
    </div>

    <!-- Content Section -->
    <div class="content">
        <!-- Left Side (Images) -->
        <div class="left-section">
            <div class="top-image">
                <img src="assets/scooter.png" alt="Scooter">
            </div>
            <div class="bottom-image">
                <img src="assets/caryellow.png" alt="Car">
            </div>
        </div>

        <!-- Right Side (Text) -->
        <div class="right-section">
            <div class="text-content">
                <h1>Let’s Connect Today!</h1>
                <h1>We’re Just a Message Away!</h1>
                <br>
                <div class="contact-details">
                    <p><span>📍</span> Address:<a href="https://maps.app.goo.gl/qVzj7noBr4uZ588w5"
                            target="_blank">XYZ</a> </p>
                    <p><span>📞</span> Phone:<a href="tel:{{phoneNumber}}">{{phoneNumber}}</a></p>
                    <p><span>📧</span> E-mail:<a href="mailto:{{email}}">{{email}}</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>