<div class="nav">
  <div class="renault"><a routerLink="/">VoltSpot</a></div>
  <div class="list">
    <ul>
      <a routerLink="/" class="nav-link">
        <li>Home</li>
      </a>
      <a routerLink="/stations" class="nav-link">
        <li class="no-wrap">Charging Station</li>
      </a>
      <a routerLink="/blog" class="nav-link">
        <li>Blogs</li>
      </a>
      <a routerLink="/contactus" class="nav-link">
        <li>Contact Us</li>
      </a>
    </ul>
  </div>
  <div *ngIf="profilevisible()" class="dropdown">

    <button (click)="toggleDropdown()">
      <img src="assets/profile.png" alt="profile">
    </button>
    <div class="dropdown-content" *ngIf="isDropdownOpen">
      <a>{{this.username}}</a>
      <a routerLink="/history" (click)="closeDropdown()">History</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>

</div>