* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
}

.image-container h1 {
  text-align: center;
}
.image-container p {
  text-align: center;
  font-size: 22px;
}
.charging-image {
  width: 521px;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: 0 4px 8px rgba(227, 220, 220, 0.1);
  transition: transform 0.3s ease;
}

section {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}
.imgtext {
  width: 521px;
  height: 293.15px;
}
.image-description {
  background-color: #63777e;
  margin: 0;
  padding: 7px;
  font-size: 20px;
  color: aliceblue;
}
a {
  text-decoration: none;
  color: white;
}
