<div class="image-container">
  <h1>Blogs</h1>
  <br>
  <p>Read Our News and Articles</p>
  <br>
</div>
<section>
  <div class="imgtext">
    <a href="https://vehq.com/electric-vehicle-tips/" target="_blank">
      <img src="assets/blog2.jpg" alt="Charging Station 2" class="charging-image" />
      <p class="image-description">13 Things Every Electric Car Owner Should Know</p>
    </a>
  </div>
  <div class="imgtext">
    <a href="https://www.dnaindia.com/business/report-budget-2025-electric-vehicles-to-get-cheaper-here-what-fm-nirmala-sitharaman-said-in-her-speech-3130093"
      target="_blank">
      <img src="assets/blog1.jpg" class="charging-image" alt="Charging Station" />
      <p class="image-description">Budget 2025: Electric vehicles to get cheaper? Here's what FM Nirmala Sitharaman said
        in her speech</p>
    </a>
  </div>
</section>